/APProvisioningFragment_.java
/APModePage2_.java
/APModePage3_.java
/APModePage4_.java
/APModePage5_.java
/APModePage6_.java
/DevicesFragment_.java
/MainActivity_.java
/PrivacyPolicyActivity_.java
/QRScannerActivity_.java
/SettingsFragment_.java
/SmartConfigFragment_.java
/SplashScreen_.java
